    <div class="Selector">
        <div id="explicacion">
            <p className="text-center">Center aligned text on all viewport sizes.</p>
        </div>
        <div
        id="start-end"
        class="text-center fs-4"
        draggable="true"
        ondragstart="onDragStart(event);"
        >Inicio / Final
        </div>
        <div
        id="proceso"
        class="text-center fs-4"
        draggable="true"
        ondragstart="onDragStart(event);"
        >Proceso</div>
        <div
        id="desicion"
        class="text-center fs-4"
        draggable="true"
        ondragstart="onDragStart(event);"
        >Desición</div>
        <div
        id="entrada"
        class="text-center fs-4"
        draggable="true"
        ondragstart="onDragStart(event);"
        >Entrada / Salida</div>
    </div>