.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 6 / 2; border: solid red 1px;}
  .div2 { grid-area: 5 / 2 / 6 / 5; border: solid red 1px;}
  .div3 { grid-area: 1 / 2 / 5 / 5; border: solid red 1px;}               